body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
body > h1{
    background-color: gray;
    margin: 10px;
}
input{
    height: 24px;
    border: 1px solid rgb(129, 131, 134);
    border-radius: 5px;
}
input[type=submit],
input[type=button],
input[type=file]{
    background-color: rgb(142, 176, 238);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bolder;
    height: 32px;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover{
    color:  rgb(56, 99, 218);
    background-color: #FFF;
}
input[type=text]:invalid,
input[type=date]:invalid,
input[type=file]:invalid,
input[type=url]:invalid,
input[type=tel]:invalid{
    background-color: rgb(250, 156, 156);
    color: black;
}
input[type=text]:valid, /* Estilo para los input de tipo text, date y file */
input[type=date]:valid, /* Cuando es valido su contenido */
input[type=file]:valid,
input[type=url]:valid,
input[type=tel]:valid{
    background-color: rgb(134, 250, 173);
    color: black;
}