<form method="POST" id="frm-buscar-materias">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA MATERIAS

            <button type="button" id="btn-close-buscar-materias" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-materias" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarMateria" placeholder="codigo,nombre o tipo" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>TIPO</th>
                        <th>DESCRIPCION</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="asignatura in mismaterias" :key="asignatura.idMaterias" v-on:click="modificarMateria(asignatura)">
                        <td>{{ asignatura.codigo }}</td>
                        <td>{{ asignatura.nombre }}</td>
                        <td>{{ asignatura.tipo }}</td>
                        <td>{{ asignatura.descripcion }}</td>
                        <td>
                            <input v-on:click="eliminarMateria(asignatura.idMateria)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/materias/buscar-materias.js"></script>