<form method="post" id="frm-buscar-peliculas">
    <div class="card text-white bg-info mb-3" style="max-width: 48rem;">
        <div class="card-header">
            BUSQUEDA DE PELICULAS

            <button type="button" id="btn-close-buscar-peliculas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-peliculas" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="7">
                            <input type="text" v-model="valor" v-on:keyup="buscarPeliculas" placeholder=" nombre, sinopsis o genero" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>SINOPSIS</th>
                        <th>GENERO</th>
                        <th>DURACION</th> 
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_pelicula in mis_peliculas" :key="mi_pelicula.idPelicula" v-on:click="modificarPelicula(mi_pelicula)" >
                        <td>{{ mi_pelicula.nombre }}</td>
                        <td>{{ mi_pelicula.descripcion }}</td>
                        <td>{{ mi_pelicula.sinopsis }}</td>
                        <td>{{ mi_pelicula.genero }}</td>
                        <td>{{ mi_pelicula.duracion }}</td>
                        <td>
                            <input v-on:click="eliminarPelicula(mi_pelicula.idPelicula)" type="button" class="btn btn-outline-danger text-white" value="Eliminar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/peliculas/buscar-peliculas.js"></script>