<form method="post" id="frm-peliculas" v-on:submit.prevent="guardarPeliculas" v-on:reset.prevent="limpiarPeliculas">
    <div class="card text-white bg-info mb-3" style="max-width: 36rem;">
        <div class="card-header">
            MANTENIMIENTO DE PELICULAS

            <button type="button" id="btn-close-peliculas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        NOMBRE:
                    </div>
                    <div class="col">
                        <input type="text" v-model="pelicula.nombre" placeholder="Nombre de Pelicula" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        DESCRIPCION:
                    </div>
                    <div class="col">
                        <input type="text" v-model="pelicula.descripcion" placeholder="Descripcion de Pelicula" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        SINOPSIS:
                    </div>
                    <div class="col">
                        <input type="text" v-model="pelicula.sinopsis" placeholder="Sinopsis de Pelicula" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        GENERO:
                    </div>
                    <div class="col">
                        <input type="text" v-model="pelicula.genero" placeholder="Genero de Pelicula" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        DURACION:
                    </div>
                    <div class="col">
                        <input type="text" v-model="pelicula.duracion" placeholder="Tiempo de duracion" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarPeliculas" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                        <input type="button" class="btn btn-outline-success mostrar-buscar-clientes text-white" data-modulo="peliculas" data-form="buscar-peliculas" value="Buscar" data-modulo="buscar-peliculas" >
                    </div>
                </div>
            </div>
           <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="alert alert-sucess" role="alert">
                        {{ pelicula.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/peliculas/peliculas.js"></script>