<form method="POST" id="frm-buscar-docentes">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA DOCENTES

            <button type="button" id="btn-close-buscar-docentes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-docentes" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarDocente" placeholder="codigo,nombre o dui" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>DUI</th>
                        <th>TELEFONO</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="profesor in misdocentes" :key="profesor.idDocente" v-on:click="modificarDocente(profesor)">
                        <td>{{ profesor.codigo }}</td>
                        <td>{{ profesor.nombre }}</td>
                        <td>{{ profesor.dui }}</td>
                        <td>{{ profesor.telefono }}</td>
                        <td>
                            <input v-on:click="eliminarDocente(profesor.idDocente)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/docentes/buscar-docentes.js"></script>