<form v-on:submit.prevent="guardarDocente" data-accion="nuevo" data-idalumno='' id="frm-docentes" method="post">
    <div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
        <div class="card-header">
            Mantenimiento De Docentes
        
            <button type="button" id="btn-close-docentes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    CODIGO
                </div>
                <div class="col-8">
                    <input type="text" v-model="docente.codigo" placeholder="AAAA000000" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    NOMBRE
                </div>
                <div class="col-8">
                    <input type="text" v-model="docente.nombre" placeholder="AAA AAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    DUI
                </div>
                <div class="col-8">
                    <input type="text" v-model="docente.dui" placeholder="AAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    TEL
                </div>
                <div class="col-8">
                    <input type="text" v-model="docente.telefono" placeholder="0000-0000" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarDocentes" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-outline-success mostrar-buscar-docentes text-white" data-modulo="docentes" data-form="buscar-docentes" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ docente.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/docentes/docentes.js"></script>